
*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    font-family: "Cinzel Decorative", serif;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }

  @font-face {
    font-family: "Cinzel Decorative", serif;
    src: url(/src/fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #EEEEEE;
    background-image: url('https://images.pexels.com/photos/260922/pexels-photo-260922.jpeg');
    background-size: cover;
    background-attachment: fixed;
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-button {
    padding: 5px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #EEEEEE;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.tab-button.active {
    background-color: #FFBF00;
}


#content {
    width: 50%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    height: 10vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

li {
    list-style-type: none;
    margin-bottom: 10px;
}

ul {
    padding: 0;
    gap: 10px;
}

.brand {
    text-align: center;
    margin-bottom: 20px;
}

.brand-name {
    font-size: 24px;
}

.home-container,
.about-container,
.menu-container,
.contact-container
 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    gap: 50px;
    padding: 0 100px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.home-container p {
    font-size: 50px;
}

.home-container img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

strong{
    color: #FFBF00;
}

.menu-container{
    height: auto;
    text-align: left;
}

.menu-container h2 {
    text-align: center;
}

.menu-container ul {
    width: 600px;
}

.contact-container {
    display: flex;
    text-align: left;


iframe {
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 10px;
}
}

.price {
    font-size: 18px;
    color: #FFBF00;
}

.home-container{
    display: flex;
    justify-content: space-around;
}


.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.social-media a {
    margin: 0 10px;
    cursor: pointer;
    color: white;
}

.social-media a:hover {
    color: #FFBF00; /* İkonlar üzerine gelindiğinde renk değiştirmek için */
}
